/*font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;*/

body{
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  padding-top: 50px;
  height: 100vh;
}
html{
  height: 100vh;
}
/*---------------------*/
/*------- NAVBAR -----*/
/*-------------------*/
nav.navbar-inverse{
  margin-bottom: 0;
  background-color: #fff;
  border: none;
}
.navbar-brand{
  font-weight: 700;
}
.navbar-default .navbar-nav>li>a{
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a#navLink3, .navbar-inverse .navbar-nav>.active>a#navLink3:focus, .navbar-inverse .navbar-nav>.active>a#navLink3:hover{
  background-color: #56977f;
  color: #fff;
}

#navLink1:hover{
  color: #b46954;
}
#navLink2:hover{
  color: #efa54e;
}
#navLink3:hover{
  color: #56977f;
}

.color-row .red{
  background: #b46954;
  padding: 1.2px;
}
.color-row .yellow{
  background: #efa54e;
  padding: 1.2px;
}
.color-row .green{
  background: #288864;
  padding: 1.2px;
}

/*--- MOBILE BUTTON ---*/
.navbar-inverse .navbar-toggle{
  border-color: #fff;
  background-color: #9d9d9d;
}
/*-------------------------*/
/*----- MAIN CONTENT -----*/
/*-----------------------*/
main h3{
  color: #efa54e;
}
main form{
  background: rgba(40,136,100,0);
  height: 100%;
  width: 100%;
  padding: 30px 10px;
  border: 2px solid #56977f;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px;
}
main input{
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}
main form input.form-control:focus{
  outline: none;
  border-color: #288864;
  box-shadow: inset 0px 1px 1px #ccc;
}
main form textarea.form-control:focus{
  outline: none;
  border-color: #288864;
  box-shadow: inset 0px 1px 1px #ccc;
}
 main form button.btn{
   display: block;
   margin: 30px auto;
   border-radius: 30px;
   padding: 10px 10%;
   text-transform: uppercase;
   transition: all 250ms ease-in-out;
   background-color: rgba(40,136,100,0);
   color: #efa54e;
   border: 2px solid #efa54e;
 }

main form button.btn:hover{
  color: #fff;
  background: #efa54e;
  border: 2px solid #efa54e;
}
/*-------------------------*/
/*----- FOOTER -----------*/
/*-----------------------*/
footer{
  background-color: #3c383a;
  padding: 15px;
}
footer .icons i{
  font-size: 4em;
  color: #288864;
  padding: 15px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 800ms;
}


/*---------------------------*/
/*----- MEDIA QUERRIES -----*/
/*------------------------*/

@media (min-width: 3000px){

  .navbar.navbar-inverse{
    font-size: 6rem;
  }
  .navbar-brand{
    font-size: 6rem;
  }
}


@media (min-width: 768px) {
  footer .icons i{
    padding: 30px;
  }
}
